{% extends "base.html" %}
{% block content %}


    <div class="container-fluid d-flex justify-content-center text-center">
        
        
        <form method="POST" action="{{url_for('add_book')}}">
            <div class="mb-3">
              <label for="title" class="form-label">Book Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>

            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" name="author">
            </div>
 
            <div class="mb-3">
                <label for="release" class="form-label">Release Date</label>
                <input type="release" class="form-control" id="date" name="release">
            </div>

            <div class="mb-3">
                <label for="image_URL" class="form-label">Image URL</label>
                <input type="text" class="form-control" id="image_URL" name="image_URL">
            </div>

            <div class="mb-3">
                <label for="ratings" class="form-label">Initial Rating</label>
                <input type="number" class="form-control" id="ratings" name="ratings">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>





{% endblock %}

