{% extends "base.html" %}
{% block content %}

{% for book in books %}

    <div class="container-fluid d-flex justify-content-center">
        <div class="row mb-3 mt-3">
            <div class="col-3">
                <img src="{{ book.image_URL }}" class="img-fluid" alt="{{ book.Title }}">
            </div>

            <div class="col-9">
                <p><strong>Title: </strong>{{ book.title }}</p>
                <p><strong>Author: </strong>{{ book.author }}</p>
                <p><strong>Release: </strong>{{ book.release }}</p>
                <p><strong>Avg. Rating: </strong>{{ book.ratings }}</p>
                <form method="POST" action="{{ url_for('rate_book', book_id=book._id) }}">
                    <div class="mb-3">
                        <label for="addRating" class="form-label">Rating</label>
                        <input type="number" class="" id="addRating" name="addRating">
                    </div>
                    <button type="submit" class="btn btn-primary">Rate</button>
                    <a href="{{ url_for('delete_book', book_id=book._id) }}" class="btn btn-danger">Delete</a>
                </form>
                
            </div>

        </div>
    </div>
    <hr>


{% endfor %}


{% endblock %}

